.icon{
	background: url("./iconContainer.svg");
	width: 35px;
	height: 35px;
	cursor: pointer;
}


.menu-active{
	background-position: 0px 0px;
}
.menu-inactive{
	background-position: 0px -35px;
}
.search-active{
	background-position: -35px 0px;
}
.search-inactive{
	background-position: -35px -35px;
}
.logo-active{
	background-position: -70px 0px;
}
.logo-inactive{
	background-position: -70px -35px;
}
.messages-active{
	background-position: -105px 0px;
}
.messages-inactive{
	background-position: -105px -35px;
}
.notifications-active{
	background-position: -140px 0px;
}
.notifications-inactive{
	background-position: -140px -35px;
}
.labels-active{
	background-position: -175px 0px;
}
.labels-inactive{
	background-position: -175px -35px;
}
.lock-active{
	background-position: -210px 0px;
}
.lock-inactive{
	background-position: -210px -35px;
}
.settings-active{
	background-position: -245px 0px;
}
.settings-inactive{
	background-position: -245px -35px;
}
.profile-active{
	background-position: 0px -70px;
}
.profile-inactive{
	background-position: 0px -105px;
}
.delete-active{
	background-position: -35px -70px;
}
.delete-inactive{
	background-position: -35px -105px;
}
.filter-text-active{
	background-position: -70px -70px;
}
.filter-text-inactive{
	background-position: -70px -105px;
}
.filter-image-active{
	background-position: -105px -70px;
}
.filter-image-inactive{
	background-position: -105px -105px;
}
.filter-video-active{
	background-position: -140px -70px;
}
.filter-video-inactive{
	background-position: -140px -105px;
}
.filter-article-active{
	background-position: -175px -70px;
}
.filter-article-inactive{
	background-position: -175px -105px;
}

/*
.menu-inactive:hover{
	background-position: 0px 0px;
}
.menu-active:hover{
	background-position: 0px -35px;
}
.search-inactive:hover{
	background-position: -35px 0px;
}
.search-active:hover{
	background-position: -35px -35px;
}
.logo-inactive:hover{
	background-position: -70px 0px;
}
.logo-active:hover{
	background-position: -70px -35px;
}
.messages-inactive:hover{
	background-position: -105px 0px;
}
.messages-active:hover{
	background-position: -105px -35px;
}
.notifications-inactive:hover{
	background-position: -140px 0px;
}
.notifications-active:hover{
	background-position: -140px -35px;
}
.labels-inactive:hover{
	background-position: -175px 0px;
}
.labels-active:hover{
	background-position: -175px -35px;
}
.lock-inactive:hover{
	background-position: -210px 0px;
}
.lock-active:hover{
	background-position: -210px -35px;
}
.settings-inactive:hover{
	background-position: -245px 0px;
}
.settings-active:hover{
	background-position: -245px -35px;
}
.profile-inactive:hover{
	background-position: 0px -70px;
}
.profile-active:hover{
	background-position: 0px -105px;
}
.delete-inactive:hover{
	background-position: -35px -70px;
}
.delete-active:hover{
	background-position: -35px -105px;
}
.filter-text-inactive:hover{
	background-position: -70px -70px;
}
.filter-text-active:hover{
	background-position: -70px -105px;
}
.filter-image-inactive:hover{
	background-position: -105px -70px;
}
.filter-image-active:hover{
	background-position: -105px -105px;
}
.filter-video-inactive:hover{
	background-position: -140px -70px;
}
.filter-video-active:hover{
	background-position: -140px -105px;
}
.filter-article-inactive:hover{
	background-position: -175px -70px;
}
.filter-article-active:hover{
	background-position: -175px -105px;
}*/

.icon.fl:hover{
	float: left;
}